<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){ 
            var javascript_counter = 0;
            var swift_counter = 0;
            var socket = io.connect();

            socket.on('connect', function (data) {
              console.log('BROWSER::WE ARE USING SOCKETS!');
            })
            socket.on('update_javascript', function (data) {
              console.log('update_javascript');
              javascript_counter++;
              $('.javascript').html(javascript_counter);
            })
            socket.on('update_swift', function (data) {
              console.log('update_swift');
              swift_counter++;
              $('.swift').html(swift_counter);
            })
        })
    </script>
  </head>
  <body>
    <h1>JavaScript</h1>
    <p class='javascript'>0</p>
    <h1>Swift</h1>
    <p class='swift'>0</p>
  </body>
</html>